<?xml version="1.0"?>
<launch>

    <rosparam file= "$(find basic_comms)/config/parameters.yaml" command="load"/>

    <group ns="Group1">
        <node pkg="basic_comms" type="talker.py" 
        name="talker" output="screen">
        </node>

         <node pkg="basic_comms" type="listener.py" 
        name="listener" output="screen"/>
    </group>

    <group ns="Group2">
        <node pkg="basic_comms" type="talker.py" 
        name="talker" output="screen">
        </node>

        <node pkg="basic_comms" type="listener.py" 
        name="listener" output="screen"/>
    </group>

</launch>